<div class="feeling">
    <svg style="width: @(_radius*2)px; height: @(_radius*2)px;">
        <path style="fill: @Tile.Color" d="@GeneratePath()">
        </path>
        <text Fill="white" 
              font-size="15"
              text-anchor="middle"
              transform="translate(@SvgCenter.ToSvg()) 
                        rotate(@TextRotation.Degree) 
                        translate(@_midRadius ,@(_flip ? -5 : 5)) 
                        rotate(@(_flip ? 180 : 0))">
            @Feeling.Name
        </text>
    </svg>
</div>

@code {
    [Parameter] public FeelingModel Feeling { get; set; } = new("",  null);
    [Parameter] public FeelingTileModel Tile { get; set; } = new(Angle.FromDregrees(0), Angle.FromDregrees(0), 0,0,"");

    public Angle TextRotation { get; private set; }
    public Point2D SvgCenter { get; private set; }
    public Angle MirrorAdjustment { get; private set; }

    private bool _flip => 90 < TextRotation.Degree && TextRotation.Degree < 270;
    private int _radius = 100;
    private double _midRadius => (Tile.InnerRadius + Tile.OuterRadius) / 2.0;
    
    protected override void OnInitialized()
    {
        SvgCenter = new Point2D(Tile.OuterRadius, Tile.OuterRadius);
        TextRotation = Angle.FromRatio(((Tile.Start.Ratio + Tile.End.Ratio) / 2.0) - 0.25).Inverse();
        MirrorAdjustment = Angle.FromDregrees(TextRotation.Degree > 180 ? 180 : 0);
    }
    
    public string GeneratePath()
    {
        var start = Tile.Start;
        var end = Tile.End;
        var innerRadius = Tile.InnerRadius;
        var outerRadius = Tile.OuterRadius;
        var innerStart = start.Project(innerRadius).Add(outerRadius, outerRadius).ToSvg();
        var outerStart = start.Project(outerRadius).Add(outerRadius, outerRadius).ToSvg();
        var innerEnd =end.Project(innerRadius).Add(outerRadius,outerRadius).ToSvg();
        var outerEnd =end.Project(outerRadius).Add(outerRadius,outerRadius).ToSvg();
        var innerSvgRadius = $"{innerRadius},{innerRadius}";
        var outerSvgRadius = $"{outerRadius},{outerRadius}";

        var path = $"M{innerStart} ";
        path += $"L{outerStart} ";
        path += $"A{outerSvgRadius} 1 0 0 {outerEnd} ";
        path += $"L{innerEnd} ";
        path += $"A{innerSvgRadius} 1 0 1 {innerStart} ";
        path += "z";
        
        return path;
    }
}